header {
    background-image: url(https://i.pinimg.com/474x/bc/2e/56/bc2e5652049c93e55d085bd2ba3fff72.jpg);
    background-repeat: space;
    background-size: cover;
    background-position: 25%;
    border-bottom-right-radius: 100%;
    background-color: white;
    height: fit-content;
    padding: 2%;
    border: 25%;
    margin: 0%;
    word-spacing: 20%;
    position: sticky;
    top: 0%;
}

h1 {
    font-family: optima, sans-serif;
    font-size: 500%;
    padding: 5px;
    border: 5px;
    margin: 5px;
}

.main-nav {
    display: flex;
    font-size: 200%;
    list-style: none;
    padding-left: 80%;
    margin: 20px;
    justify-content: space-evenly;
    
}

section {
    display: inline-block;
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: 400%;
    font-weight: 400;
    padding: 5px, 5px, 5px, 5px;
    border: 20px, 20px, 20px, 20px;
    margin: 20px, 20px, 20px, 20px;
}